<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaskin.manager">

    <uses-sdk tools:overrideLibrary="androidx.hilt.navigation.compose,     androidx.navigation.compose,     androidx.lifecycle.viewmodel.compose,     androidx.activity.compose,     androidx.compose.foundation.layout, androidx.compose.ui, androidx.compose.animation.core, androidx.compose.ui.text, androidx.compose.runtime.saveable, androidx.compose.ui.graphics, androidx.compose.ui.unit, androidx.compose.ui.util, androidx.compose.ui.geometry" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Manager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_manager_mobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.communication.CommunicationScreen"
            android:exported="false"
            android:label="@string/title_activity_communication_screen"
            android:theme="@style/Theme.Application">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.kaskin.manager.ManagerMobile"
            android:exported="true"
            android:label="@string/title_activity_manager_mobile"
            android:theme="@style/Theme.Application">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>